root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx,inl,ipp,ixx,cppm,rc}]
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4

[*.{hlsl,hlsli}]
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4

[*.{sln,slnx,vcxproj,vcxproj.filters,vcxproj.user,props,targets,xml,config,json,yml,yaml,md}]
end_of_line = crlf
indent_style = space
indent_size = 2
tab_width = 2

[*.md]
end_of_line = lf
trim_trailing_whitespace = false

[*.bat]
indent_style = tab

[*.ps1]
indent_style = space
indent_size = 2
tab_width = 2
